.root {
  font-family: monospace;
  font-size: 16px;
}

/* Colors, see https://minecraft.fandom.com/wiki/Formatting_codes */
.root :global(.c-black) {
  color: #000000;
}

.root :global(.c-dark_blue) {
  color: #0000aa;
}

.root :global(.c-dark_green) {
  color: #00aa00;
}

.root :global(.c-dark_aqua) {
  color: #00aaaa;
}

.root :global(.c-dark_red) {
  color: #aa0000;
}

.root :global(.c-dark_purple) {
  color: #aa00aa;
}

.root :global(.c-gold) {
  color: #ffaa00;
}

.root :global(.c-gray) {
  color: #aaaaaa;
}

.root :global(.c-dark_gray) {
  color: #555555;
}

.root :global(.c-blue) {
  color: #5555ff;
}

.root :global(.c-green) {
  color: #55ff55;
}

.root :global(.c-aqua) {
  color: #55ffff;
}

.root :global(.c-red) {
  color: #ff5555;
}

.root :global(.c-light_purple) {
  color: #ff55ff;
}

.root :global(.c-yellow) {
  color: #ffff55;
}

.root :global(.c-white) {
  color: #ffffff;
}
