.subCategories {
  display: grid;
}

@media (min-width: 1024px) {
  .subCategories {
    grid-template-columns: 1fr 1fr;
  }

  .subCategories > div:nth-child(even) {
    text-align: right;
    justify-self: end;

    & > * {
      justify-content: end;
    }
  }
}
