
.recipeBox {
    display: inline-grid;

    grid-template-rows: auto auto;
    grid-template-columns: max-content 1fr max-content;

    background-color: #dddddd;
    border-radius: 8px;
    padding: 10px;

    row-gap: 10px;
    column-gap: 10px;

    align-items: center;
}

.recipeBox :global(.item-icon) {
    width: 64px;
    height: 64px;
}

.recipeBox > :first-child {
    grid-column-start: span 3;
}

.ingredientsBox {
    display: inline-grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;

    align-self: center;
    justify-self: start;
}

.recipeArrow {
    align-self: center;
    justify-self: center;
}

.emptyIngredientBox, .ingredientBox {
    background-color: #bbbbbb;
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
}

.ingredientBox:hover {
    background-color: #aaaaaa;
}
