@charset "utf-8";

$black: hsl(0, 0%, 100%);
$black-bis: hsl(0, 0%, 98%);
$black-ter: hsl(0, 0%, 96%);
$grey-darker: hsl(0, 0%, 93%);
$grey-dark: hsl(0, 0%, 86%);
$grey: hsl(0, 0%, 71%);
$grey-light: hsl(0, 0%, 48%);
$grey-lighter: hsl(0, 0%, 29%);
$grey-lightest: hsl(0, 0%, 21%);
$white-ter: hsl(0, 0%, 14%);
$white-bis: hsl(0, 0%, 7%);
$white: hsl(0, 0%, 4%);

$box-background-color: rgba($white, 0.7);
$shadow:
  0 0.5em 1em -0.125em rgba($grey, 0.1),
  0 0px 0 1px rgba($grey, 0.02);

$primary: #895ca8;

@import "~bulma/bulma.sass";

body {
  background-color: #2234ae;
  background-image: linear-gradient(315deg, #1b2344 0%, #141209 40%);
  min-height: 100vh;
}

.main-container {
  @include touch {
    padding: 0.25rem;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 14.25rem 1fr;

    > :first-child {
      padding: 1.25rem;
    }
  }

  .container {
    padding-top: 1.25rem;
  }
}
