@charset "utf-8";

$navbar-background-color: #fafafa;

@import "~bulma/bulma.sass";

.navbar-brand {
  white-space: nowrap;
  font-weight: bolder;
}

img.item-icon {
  width: 64px;
  height: 64px;
  max-width: unset;
  min-width: unset;
  max-height: unset;
  min-height: unset;
  display: block;
}

.main-container {
  @include touch {
    padding: 0.25rem;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 13.25rem 1fr;

    > :first-child {
      padding: 1.25rem;
    }
  }

  .container {
    padding-top: 1.25rem;
  }
}

.tippy-box {
  &[data-placement^="top"] > .tippy-arrow::before {
    border-top-color: tomato;
  }

  &[data-placement^="bottom"] > .tippy-arrow::before {
    border-bottom-color: tomato;
  }

  &[data-placement^="left"] > .tippy-arrow::before {
    border-left-color: tomato;
  }

  &[data-placement^="right"] > .tippy-arrow::before {
    border-right-color: tomato;
  }
}

.downloadButtons {
  display: inline-grid;
  grid-auto-columns: auto;
  row-gap: 1rem;
}
